[Unit]
Description=HCB Explorer Discord bot

[Service]
ExecStart=/home/ajhalili2006/.nix-profile/bin/npm start
WorkingDirectory=/home/ajhalili2006/git/hcb-explorer-discord
RestartSec=5s
Restart=on-failure

[Install]
WantedBy=default.target